*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  animation: transitionIn 2s;
  width: 100vw;
  height: 100vh;
}

@keyframes transitionIn {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
