.question_name_show{
    font-size: 22px;
    font-weight: 600;
    color: rgb(111, 0, 255);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 15px;
    padding: 10px;
}

.oneQuestion{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;    
    background-color: white;
    position: relative;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}

.question_option{
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
    margin: 4px;
}

#question_option4{
    margin-bottom: 20px;
}

.optionLabel{
    font-size: 22px;
    color: rgb(0, 47, 123);
    font-weight: 500;
    margin-left: 10px;
}

.optionInput{
    margin-top: 10px;
    cursor: pointer;
}

.optionUncheck{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    border-radius: 18px;
    border: 2px solid black;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.optionUncheck:hover{
    background-color: black;
    color: white;
}