.aQuestion{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
}

.questionNumber{
    font-size: 20px;
    font-weight: 600;
}

.questionWrite{
    padding: 5px;
    height: 200px;
    resize: none;
    overflow: hidden;
}